* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header a {
   display: block;
   text-align: center;
   margin: 2rem auto auto;
}

.hero-section {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   height: 480px;
   overflow-x: hidden;
}
.left-images-wrap {
   margin: 4em auto auto -30px;
}
.right-images-wrap {
   margin: auto -30px 4em auto;
}
.txt {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   text-align: center;
   gap: 20px;
}
h1 {
   width: 13ch;
   font-weight: 900;
   font-size: 3rem;
}
.para {
   color: hsl(240, 10%, 57%);
   font-weight: 400;
}
.download-and-what-wrap a {
   display: inline-block;
   color: #fff;
   padding: 15px;
   margin: 20px 10px;
   text-decoration: none;
   border-radius: 25px;
   font-weight: 200;
}
.download {
   background-color: #4d96a9;
}
.download span {
   color: #8fe3f9;
}
.download:hover {
   background-color: #71c0da;
}
.what {
   background-color: #855fb1;
}
.what:hover {
   background-color: #b18bdd;
}
