* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header a {
   display: block;
   text-align: center;
   margin: 2rem auto auto;
}

.hero-section {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   height: 450px;
   overflow-x: hidden;
}

.tablet-image/* tablet image removed from large screen */ {
   display: none;
}
.left-images-wrap {
   margin: 1.5em auto auto -30px;
}
.right-images-wrap {
   margin: auto -30px 4em auto;
}
.txt {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   text-align: center;
   gap: 20px;
}
h1 {
   width: 13ch;
   font-weight: 900;
   font-size: 3rem;
}
.para {
   color: hsl(240, 10%, 57%);
   font-weight: 400;
}
.download-and-what-wrap a {
   display: inline-block;
   color: #fff;
   padding: 15px;
   margin: 20px 10px;
   text-decoration: none;
   border-radius: 25px;
   font-weight: 200;
}
.download {
   background-color: #4d96a9;
}
.download span {
   color: #8fe3f9;
}
.download:hover {
   background-color: #71c0da;
}
.what {
   background-color: #855fb1;
}
.what:hover {
   background-color: #b18bdd;
}

.main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.vertical-line {
   width: 50%;
   height: 50px;
   border-right: 2px solid hsl(240, 10%, 57%);
}
.number {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   color: hsl(240, 10%, 57%);
   width: 50px;
   height: 50px;
   text-align: center;
   border: 2px solid hsl(240, 10%, 57%);
   border-radius: 50%;
}
.content-image-wrap {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin: 3rem auto;
   gap: 30px;
}
.content-image {
   width: 250px;
   border-radius: 10px;
}
.content-text-wrap {
   width: 50%;
   text-align: center;
}
.built-for {
   color: #4d96a9;
   text-transform: uppercase;
   font-weight: 600;
}
.smart-meeting {
   width: 19ch;
   margin: auto auto 30px;
   font-weight: 900;
   font-size: 2.5rem;
}
.send-messages {
   width: 50ch;
   margin: auto auto 2rem;

}

footer {
   position: relative;
   color: #fff;
   text-align: left;
   margin: 3rem auto 0;
}
footer .vertical-line {
   height: 80px;
}
footer .number {
   position: absolute;
   top: 15%;
   right: 0;
   left: 0;
   background-color: #fff;
} 
.footer-content-wrapper {
   height: 300px;
   background-image: url("assets/desktop-image/image-footer.jpg");
}
.content-wrap {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%; 
   height: 100%;
   background-color: #4d97a986; 
}
.content-wrap a {
   color: #fff;
   text-decoration: none;
   padding: 15px;
   background-color: #855fb1;
   border-radius: 25px;
}
.content-wrap a span {
   color: #d9b8ff;
}
.content-wrap a:hover {
   background-color: #b18bdd;
}
.content-wrap p {
   font-weight: 400;
}


/* beakpoints */
@media screen and (max-width: 1024px) {
   body {
      width: 100%;
   }

   header a {
      margin: 4rem auto;
   }

   .hero-section {
      grid-template-columns: 1fr;
      height: auto;
   }

   .left-images-wrap,
   .right-images-wrap {
      display: none;
   }

   .tablet-image {
      display: block;
      width: 200px;
   }

   .txt {
      margin: 2rem auto;
   } 
   .para {
      width: 50ch;
      font-size: 23px;
   }

   .download-and-what-wrap a {
      padding: 20px;
   }

   .content-image {
      width: 160px;
   }
   .content-text-wrap {
      width: 100%;
   }
   
   .send-messages {
      width: 65ch;
      font-size: 23px;
   }

 
   .footer-content-wrapper {
      background-image: url("assets/tablet/image-footer.jpg");
   }

   .content-wrap {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 2rem;
   }

   .content-wrap h1 {
      width: 20ch;
   }

   .content-wrap p {
      width: 55ch;
      font-size: 23px;
   }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 359px) {
   /* body {
      width: 100%;
   } */
  

   .hero-section {
      grid-template-columns: 1fr;
   }

   .footer-content-wrapper {
      background-image: url("assets/mobile-image/image-footer.jpg");
   }

   

}
